
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/styles/registeredUser/registeredUser.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
           
        $(document).ready(function () {
        $("#edit").click( ()=> {
   
            const firstNameEdit = $("#firstNameID").val().trim();
            const lastNameEdit = $("#lastNameID").val().trim();
            const ageEdit = $("#ageID").val().trim();
            const useridEdit = $("#hidenUserID").val().trim()
 
          $.ajax({
            type: "POST",
            url: "/registeredUsers",
            data: { firstNameEdit,  lastNameEdit, ageEdit, useridEdit},
            success: function (response) {
              alert(response.sucess)
            
            },
            error: function (xhr, status, error) {
             console.log(error);  
            },
          });
        });

        // delete
  
         $("#delete").click( ()=> {
            
            const useridEdDelete = $("#hidenUserID").val().trim()

            $.ajax({
            type: "POST",
            url: "/registeredUsers",
            data: { useridEdDelete },
            success: function (response) {
                alert(response.sucess)
                location.reload()
            },
            error: function (xhr, status, error) {
                console.log(error);  
            },
            });
            });

      });


    </script>
  </head>
  <body class="container">
    <!-- header ejs -->
    <%- include('../../views/header/header.ejs'); %>

    <main>
        <div class="firstDiv">
      
                     <% if ( typeof faindedUser === 'object' && faindedUser.length > 0 ) { %>
                       
                        <h2>User Information</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Edit</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                     
                      <% faindedUser.map((el)=> { %>
                        <tr>
                          <td> 
                            <input type="text" name="firstName"
                             value= ' <%= el.firstName %>'
                             id="firstNameID" >
                         </td>

                          <td>
                             <input type="text" name="lastName" 
                             value= ' <%= el.lastName %> ' 
                             id="lastNameID">
                         </td>

                          <td>
                             <input type="text" name="age"
                              value= ' <%= el.age %>  '
                              id="ageID" >
                          </td>

                          <td> 
                            <div class="buttonsDiv">
                                <button id="edit">edit</button>
                                <button id="delete">delete</button>
                            </div> 
                          </td>
                        
                        </tr>
                      <% }) %>
    
                      <% } else { %>
                          <h1 class="dataH1Info"> <%= faindedUser %></h1>
                     <% } %>
                    
                </tbody>
            </table>
          
          </div>
    </main>
    <footer></footer>
    <style>
       .userIDhiden{
         display: none;
       }
    </style>
    <input type="text" id="hidenUserID" value='  <%= userId %> ' class="userIDhiden">
  </body>
</html>

